<div class="jumbotron">
  <h1>Bookmarks App</h1>
  <p class="lead">
    <img src="assets/images/bookmark.png" alt="Bookmark App"><br>
    App for Bookmark storage and management
  </p>
</div>
<div class="row">
  <div class="col-md-6">
    <form ng-submit="addBookmark()" style="margin-top:30px;">
      <h3>Add a new bookmark</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
          </div>
          <div class="form-group">
        <input type="text" class="form-control" placeholder="Tags" ng-model="tag"></input>
          </div>
      <button class="btn btn-md btn-success btn-block" >
        <span class="glyphicon glyphicon-ok"></span>
        Add!
      </button>
    </form>
  </div>
  <div class="col-md-6 ">
    <h3 style="margin-top:30px;">Top Bookmarks</h3>
    <div ng-repeat="bookmark in bookmarks | orderBy: '-rank' | limitTo:5">
      <!-- Bookmark :: {{bookmark.title}} - Rank {{bookmark.rank}} -->
      <span ng-click="upRank(bookmark)" class="glyphicon glyphicon-chevron-up"></span>
        {{bookmark.rank}}
      <span style="font-size:20px; margin-left:10px;">        
        <a ng-show="bookmark.link" href="{{bookmark.link}}">
            {{bookmark.title}}
         </a>
         <span ng-hide="bookmark.link">
            {{bookmark.title}}
        </span>
      </span>
    </div>


</div>


<!--  FROM TEMPLATE AnGULAR
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->


