<p>This is the MyBookmarks view.</p>
<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div>

		<div ng-repeat="bookmark in bookmarks | orderBy: '-rank'  | filter: searchTerm">
			<!-- Bookmark :: {{bookmark.title}} - Rank {{bookmark.rank}} -->
			<span ng-click="upRank(bookmark)" class="glyphicon  glyphicon-chevron-up"></span>
				{{bookmark.doc.rank}} -
			<span style="font-size:20px; margin-left:10px;">				
				<a ng-show="bookmark.doc.link" href="{{bookmark.doc.link}}">
				    {{bookmark.doc.title}}
				 </a>
				 <span ng-hide="bookmark.doc.link">
				    {{bookmark.doc.title}}
				</span>
			</span>
<!-- 			<span class="glyphicon" ng-class="getIcon()" ng-click="toggleDiv()"></span>
			<div  ng-show="getDescription()"> HERE GOES THE DESC </div> -->
		</div>

		<!-- <button >Go</button> 
		<form ng-submit="addBookmark()" style="margin-top:30px;">
			<h3>Add a new bookmark</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
	        </div>
	        <div class="form-group">
				<input type="text" class="form-control" placeholder="Tags" ng-model="tag"></input>
	        </div>
<!-- 	    	<div class="form-group">
				<input type="text" class="form-control" placeholder="Description" ng-model="desc"></input>
	        </div> 
			<button class="btn btn-md btn-success" >
				<span class="glyphicon glyphicon-ok"></span>
				Add!
			</button>
		</form> -->

	</div>

</div>
